<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Name</key>
	<string>王小二</string>
	<key>age</key>
	<string>22</string>
	<key>height</key>
	<string>178</string>
</dict>
</plist>
