# macOS
.DS_Store

# Xcode
xcuserdata/
build/
DerivedData/
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
.swiftpm/
Package.pins
Package.resolved

# CocoaPods
Example/Pods/
